body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background: url(/images/slide-2-bg.png);
    height: 100vh;

}

.container {
    margin-left: 10%;
    margin-right: 10%;
}

.container-fluid {
    margin-left: 20%;
    margin-right: 20%;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.top-40 {
    top: 40%;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.jcc {
    justify-content: center;
}

.jcsb {
    justify-content: space-between;
}

.jcfe {
    justify-content: flex-end;

}

/* #text*/

h1 {
    font-size: 4rem;
}

.text-center {
    text-align: center;
}

h3 {
    font-size: 1.8rem;
}

h2 {
    font-size: 3rem;
    font-weight: 700;
}

.fs-2 {
    font-size: 2rem;
}

.fw-bold {
    font-weight: 600;
}

.fw-bolder {
    font-weight: 900;
}

.fw-thin {
    font-weight: 300;
}

.text-upper {
    text-transform: uppercase;
}

.no-decor {
    text-decoration: none;
}

.text-white {
    color: white;
}

.text-red {
    color: red;
}

.text-gray {
    color: gray;
}

.text-blue {
    color: blue;
}

/* #align */

.aic {
    align-items: center;
}

.aifs {
    align-items: flex-start;
}

.aie {
    align-items: flex-end;
}


/* #width */
.h-auto {
    height: auto;
}

.w-auto {
    width: auto;
}

.w-100 {
    width: 100%;
}


.w-20 {
    width: 20%;
}

.w-30 {
    width: 30%;
}

.w-40 {
    width: 40%;
}

.w-50 {
    width: 50%;
}

.w-70 {
    width: 70%;
}

.w-75 {
    width: 75%;
}

.h-100 {
    height: 100%;
}

.h-50 {
    height: 50%;
}

/* #padding */

.p-1 {
    padding: 10px;
}

.p-2 {
    padding: 20px;
}

.px-1 {
    padding-left: 10px;
    padding-right: 10px;
}

.py-1 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.p-b-1 {
    padding-bottom: 10px;
}

.p-b-2 {
    padding-bottom: 20px;
}

.ps-1 {
    padding-left: 10px;
}

.pe-1 {
    padding-right: 10px;
}

.ms-1 {
    margin-left: 10px;
}

/* #margin */

.ms-2 {
    margin-left: 20px;
}

.mt-1 {
    margin-top: 10px;
}

.mt-2 {
    margin-top: 20px;
}

.mt-3 {
    margin-top: 30px;
}

.mt-4 {
    margin-top: 30px;
}

.mt-5 {
    margin-top: 50px;
}

.mb-1 {
    margin-bottom: 10px;
}

.mb-2 {
    margin-bottom: 20px;
}

.mb-3 {
    margin-bottom: 30px;
}

.me-1 {
    margin-right: 10px;
}

.me-2 {
    margin-right: 20px;
}

.m-1 {
    margin: 10px;
}

.m-2 {
    margin: 20px;
}

p.phone-number::before {
    content: "\270f";
    display: block;
    width: 20px;
    height: 20px;
    float: left;
    margin: 0 6px 0 0;
}

p.store-number::before {
    content: "\270f";
    display: block;
    width: 20px;
    height: 20px;
    float: left;
    margin: 0 6px 0 0;
}

.list-item:hover {
    font-weight: 600;
    transition: all 0.3s;
}

.subscribe {
    margin-top: 12rem;
    background: white;
    padding: 20px;

}

.bg-blue {
    background: lightblue;
}

.first {
    background: url(/images/01.png);
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
}


.box-shadow-light {
    box-shadow: 6px 4px 4px 1px rgb(0 0 0 / 33%);
}

.wrap {
    flex-wrap: wrap;
}

.col-2 {
    width: 20%;
}

.image {
    position: relative;
}

.image img {
    width: 100%;
    vertical-align: top;
}

.image:after {
    content: '\A';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: all 1s;
    -webkit-transition: all 1s;
}

.image:hover:after {
    opacity: 0.7;
}

.secound {
    background: url(/images/02.png);
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-white {
    background: white;
}

.left-10 {
    left: 10%;
}

.right-10 {
    right: 10%;
}

.bottom--10 {
    bottom: -10%;
}

.bottom--20 {
    bottom: -20%;
}

.bg-car {
    background: url(/images/1\ \(1\).png);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
}